{{/*  TODO: Create a generic previous / next section for single section  */}}
{{ $previous_label := .previous_label | default (i18n "posts.previous") }}
{{ $next_label := .next_label | default (i18n "posts.next") }}
{{ $reversed := .reversed | default false }}

{{ with .context }}

  {{ $previous_content := .PrevInSection }}
  {{ $next_content := .NextInSection }}
  {{ if $reversed }}
    {{ $previous_content = .NextInSection }}
    {{ $next_content = .PrevInSection }}
  {{ end }}

  {{/*  added variable for projects navigation  */}}
  {{ $in_project := eq .Type "projects" }}

  {{- if or .PrevInSection .NextInSection -}}
  <div class="block block-siblings-navigation">
    <div class="container">
      <div class="block-content">
        {{ if $in_project }}
          <div class="top">
            <p class="siblings-navigation__title">{{ i18n "projects.navigation.title" }}</p>
            {{ $projects_section := .Site.GetPage "section" .Section }}
            <a href="{{ $projects_section.Permalink }}">{{ i18n "projects.see_all" }}</a>
          </div>
        {{ end }}
        <nav class="siblings-navigation" aria-label="{{ i18n "commons.pagination.between.posts" }}">
          <ul>
            {{ with $previous_content }}
              <li class="previous">
                {{ $title := partial "PrepareHTML" .Title -}}
                <a href="{{.RelPermalink}}" title="{{ safeHTML (i18n "posts.previous_aria" (dict "Title" $title)) }}">
                  <span>
                    {{- $previous_label -}}
                  </span>
                  {{- $title -}}
                  {{ if .Params.taxonomies }}
                    {{ partial "commons/categories" ( dict
                      "context" .
                      "kind" "project"
                    )}}
                  {{ end }}
                  {{ if and $in_project .Params.image }}
                    {{- partial "commons/image.html" (dict
                        "image"    .Params.image
                        "sizes"    site.Params.image_sizes.blocks.projects.grid
                      ) -}}
                  {{ end }}
                </a>
              </li>
            {{ end }}
            {{ with $next_content }}
              <li class="next">
                {{ $title := partial "PrepareHTML" .Title -}}
                <a href="{{.RelPermalink}}" title="{{ safeHTML (i18n "posts.next_aria" (dict "Title" $title)) }}">
                  <span>
                    {{- $next_label -}}
                  </span>
                  {{- $title -}}
                  {{ if .Params.taxonomies }}
                    {{ partial "commons/categories" ( dict
                      "context" .
                      "kind" "project"
                    )}}
                  {{ end }}
                  {{ if and $in_project .Params.image }}
                    {{- partial "commons/image.html" (dict
                        "image"    .Params.image
                        "sizes"    site.Params.image_sizes.blocks.projects.grid
                      ) -}}
                  {{ end }}
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  {{- end -}}
{{- end -}}
