{{- $title := or .Params.header_text .Title -}}
{{ $share := site.Params.projects.share_links.enabled | default site.Params.share_links.enabled }}
{{ $image := partial "GetProjectThumbnail" . }}

{{ $summary := .Params.summary | safeHTML }}
{{ $button := .Params.header_cta }}
{{ $title_attribute := "" | safeHTMLAttr }}
{{ $subtitle_is_summary := true }}
{{ $summary := .Params.summary }}
{{ if site.Params.search.active }}
  {{ $title_attribute = "data-pagefind-weight='10'" | safeHTMLAttr }}
{{ end }}

<header class="hero {{ if $image }}hero--with-image{{ end }}">
  <div class="container">
    <div class="content">
      <div class="hero-title">
        <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" $title }}</h1>
        {{ partial "projects/single/hero/infos.html" . }}
        {{ with .Params.subtitle }}
          <p>{{ . }}</p>
        {{ end }}
      </div>

      {{ $image_cover := .Params.image }}
      {{ if $image_cover }}
        {{ partial "commons/image-figure.html" (dict
          "image" $image_cover
          "sizes" site.Params.image_sizes.sections.projects.hero_single
          "lazy" false
          "focusable_figcaption" true
          "image_class" "mobile-image"
        ) }}
      {{ end }}

      {{ with or $image $image_cover }}
        {{ partial "commons/image-figure.html" (dict
          "image" .
          "sizes" site.Params.image_sizes.sections.projects.hero_single
          "lazy" false
          "focusable_figcaption" true
          "image_class" "desktop-image"
        ) }}
      {{ end }}

      <div class="hero-text">
        {{ $taxonomies_position := partial "GetTaxonomiesPosition" . }}
        {{ if and .Params.taxonomies (eq $taxonomies_position "hero") }}
          {{ partial "taxonomies/single-list.html" . }}
        {{ end }}

        {{ if or $button $share }}
          <div class="hero-actions">
            {{ with $button }}
              {{ partial "header/cta.html" . }}
            {{ end }}
            {{ if $share }}
              {{ partial "commons/share/dropdown.html" . }}
            {{ end }}
          </div>
        {{ end }}

        {{ with $summary }}
          <div class="summary">
            {{ safeHTML . }}
          </div>
        {{ end }}
      </div>

    </div>
  </div>
</header>
